{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h3>使用说明</h3>
        <ol>
            <li>点击 阅览室 先选择自习室,后选择座号</li>
            <li>填写图书馆账号密码,账号为前面加2的12位格式，请确保账号密码正确</li>
            <li>使用的开始结束时间以分钟为小时</li>
            <li>系统每天早上五点开始预约次日座位</li>
        </ol>

        <h3>注意事项</h3>
        <ul>
            <li>本站意为减少同学免除因意外无法预约到常用座位而设计, 请勿滥用</li>
            <li>受服务器、网络以及学校服务器等因素影响，本站不保证预约成功</li>
            <li>谢绝商用,违者必究!</li>
        </ul>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<h2>Getting started</h2>-->
    <!--<p>-->
    <!--Flask gives you a powerful, patterns-based way to build dynamic websites that-->
    <!--enables a clean separation of concerns and gives you full control over markup-->
    <!--for enjoyable, agile development.-->
    <!--</p>-->
    <!--<p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <!--</div>-->

{% endblock %}
